<div class="container mt-4">
  <h2 class="mb-4 text-center">Gestión de Proveedores</h2>

  <!-- Acciones -->
  <div class="d-flex flex-wrap align-items-center justify-content-start gap-4 mb-4">
      <button class="btn btn-primary" (click)="abrirModalRegistro()">
          <i class="bi bi-plus-circle me-2"></i>Registrar Proveedor
      </button>

      <div class="d-flex align-items-center gap-2">
          <input type="text" class="form-control" [(ngModel)]="filtroEmpresa" placeholder="Buscar por empresa" style="max-width: 300px;">
          <button class="btn btn-secondary" (click)="buscarPorEmpresa()" [disabled]="!filtroEmpresa">
              <i class="bi bi-search"></i> Buscar
          </button>
      </div>
  </div>

  <div class="table-responsive">
      <table class="table table-bordered table-hover">
          <thead class="table-dark">
              <tr>
                  <th width="12%">RUC</th>
                  <th>Empresa</th>
                  <th>Representante</th>
                  <th width="12%">Teléfono</th>
                  <th>Correo</th>
                  <th width="10%">Estado</th>
                  <th width="15%">Acciones</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let proveedor of proveedores">
                  <td class="font-monospace">{{ proveedor.ruc }}</td>
                  <td>{{ proveedor.empresa }}</td>
                  <td>{{ proveedor.representante }}</td>
                  <td>{{ proveedor.telefono }}</td>
                  <td>
                      <a href="mailto:{{proveedor.correo}}" class="text-decoration-none">{{ proveedor.correo }}</a>
                  </td>
                  <td>
                      <span class="badge" [ngClass]="proveedor.estado ? 'bg-success' : 'bg-secondary'">
                          {{ proveedor.estado ? 'Activo' : 'Inactivo' }}
                      </span>
                  </td>
                  <td class="text-nowrap">
                      <button class="btn btn-sm btn-warning me-2" (click)="editarProveedor(proveedor)" title="Editar proveedor">
                          <i class="bi bi-pencil-square"></i> Editar
                      </button>
                      <button class="btn btn-sm btn-danger" (click)="eliminarProveedor(proveedor.id!)" title="Eliminar proveedor">
                          <i class="bi bi-trash"></i> Eliminar
                      </button>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>

  <!-- Paginación -->
  <div class="text-center mt-1" *ngIf="totalPages > 1">
    <button class="btn btn-secondary me-2" (click)="cambiarPagina(-1)" [disabled]="page === 0">Anterior</button>
    <button class="btn btn-secondary" (click)="cambiarPagina(1)" [disabled]="page + 1 === totalPages">Siguiente</button>
</div>
</div>
